[user]
	name = Doug Farmer
	email = dcole2929@gmail.com

[alias]
co  = checkout
ci  = commit
civ = commit --no-verify
st  = status
br  = branch
mt  = mergetool

#From: http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
ignore   = update-index --assume-unchanged
unignore = update-index --no-assume-unchanged
ignored  = "!git ls-files -v | grep ^h | cut -c 3-"
[push]
	default = simple
[merge]
	defaultToUpstream = true
	tool=kdiff3
[core]
	excludesfile = $HOME/.gitignore_global
	preloadindex = true
	editor = /usr/local/bin/code -w

[includeIf "gitdir:~/dev/the_line"]
    path = ~/dev/the_line
